@charset "UTF-8";* { margin: 0; padding: 0; border: 0; font-size: 100%; }.my-class {
    color: hotpink;
	font-size: 40px;
    border: 3px solid pink;
    background-color: burlywood;
    padding: 1em;
    text-align: center;	
	background-image: url("../images/Clouds-Background-HD.jpg");
	font-family: 'Berkshire Swash';font-size: 40px;
	
}
#my-id {
    color: saddlebrown;
    background-color:lavender;
	padding: 1em;
	border: 7px solid pink;
	font-size: 20px;
	align-content: center;
	text-align: center;
}

.my-class2 {
	color: cornflowerblue;
    background-color: pink;
	padding:0.5em;
	border: 5px solid lavender;
	font-display: auto;
		
}

.my-class3 {
	background-color: cornflowerblue;
	margin-left: 60px;
	margin-right: 60px;
	
}
.my-class4 {
	color: cornflowerblue;
    background-color: pink;
	padding:0,5em;
	border: 5px solid lavender;
	font-display: auto;
    float: left; margin: 0.5em 1em 1em 0; border: 1px solid #999; clear: left;
}
.col-sm{
	background-color: antiquewhite; 
	padding-left: 100px;

}

}

